zip_teste/
env/
.env*
*env*
brain.txt
*venv*
venv*
venv/
venv
<TemporaryDirectory*
brain.txt
*.pyc
Thumbs.db
*~
.cache
.pytest_cache
.coverage
build
dist
*.egg-info
htmlcov
.tox/
docs/_build
.env
.env.production
.env.dev
.env.staging
.idea*
db.sqlite
dota-2-1.jpg
.ropeproject/
tags

# dependencies
frontend/tvg_valida_materiais/node_modules
/.pnp
.pnp.js
.secrets/
# testing
/coverage

# production
/build
*.db
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.secrets.*
*.igg-info
.idea/
ssl/
